<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario </title>
    <!-- Agrega tus estilos CSS aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<h1><strong>Editar Usuario<i class="bi bi-person-fill"></i></strong></h1>
<form action="/users/{{ user.dataValues.id }}/editar" method="POST">
    <input type="hidden" name="_method" value="PUT"> <!-- Esto indica que la solicitud es de tipo PUT -->

    <div class="form-group">
        <label for="username"><strong>Nombre de Usuario <i class="bi bi-person-fill"></i></strong></label>
        <input type="text" class="form-control" id="username" name="username" value="{{ user.dataValues.username }}">
    </div>

    <div class="form-group">
        <label for="password"><strong>Contraseña <i class="bi bi-eye-slash-fill"></i></strong></label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <div class="form-group">
        <label for="name"><strong>Nombre <i class="bi bi-file-earmark-person"></i></strong></label>
        <input type="text" class="form-control" id="name" name="name" value="{{ user.dataValues.name }}">
    </div>

    <div class="form-group">
        <label for="lastName"><strong>Apellido <i class="bi bi-file-earmark-person-fill"></i></strong></label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user.dataValues.lastName }}">
    </div>

    <div class="form-group">
        <label for="email"><strong>Correo Electrónico <i class="bi bi-envelope-open-fill"></i></strong></label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.dataValues.email }}">
    </div>

    <div class="form-group">
        <label for="phone"><strong>Teléfono <i class="bi bi-phone-fill"></i></strong></label>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{ user.dataValues.phone }}">
    </div>

    <button type="submit" class="btn btn-primary"><strong>Actualizar</strong></button>

    <a href="/users/{{user.dataValues.id}}" class="btn btn-secondary"><strong>Cancelar</strong></a>
</form>

<!-- Incluye Bootstrap JS y Popper.js al final del cuerpo del documento -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
<style>
    body {
        background-color: #97C1A4;
        /* Color de fondo del cuerpo */
        font-family: Arial, sans-serif;
        color: #302e2e;
        /* Color del texto */

    }

    h1 {
        position: absolute;
        top: 100px;
        left: 70px;
        width: 350px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        background-color: #809CCE;
        border-radius: 20px;
        font-size: 25px;

    }



    .form-group {
        margin-bottom: 15px;
        /* Espaciado inferior de cada grupo de formulario */
    }

    .form-control {
        border: 1px solid #B7CFB7;
        /* Borde de los campos de entrada */
        border-radius: 10px;
        /* Bordes redondeados de los campos de entrada */
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #B7E0D2;
    }

    form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        width: 600px;
        position: relative;
        left: 500px;

    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #94B8D0;
        /* Color del botón principal */
        color: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-color: #809CCE;
        position: relative;
        left: 70px;
        width: 180px;
        height: 50px;
        text-align: center;


    }

    .btn-primary:hover {
        background-color: #D4F0F1;
        /* Color al pasar el ratón sobre el botón */
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        /* Sombra interior de los campos de entrada */
        border-color: #809CCE;

    }

    .btn-secondary {
        background-color: #B7CFB7;
        color: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-color: #B7CFB7;
        position: relative;
        left: 120px;
        width: 180px;
        height: 50px;
        text-align: center;
    }

    .btn-secondary:hover {
        background-color: #D4F0F1;
        /* Color al pasar el ratón sobre el botón */
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        /* Sombra interior de los campos de entrada */
        border-color: #B7CFB7;


    }
</style>