<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <!-- Aquí puedes incluir tus estilos CSS -->
</head>

<body>
    
    <h1>Perfil de Usuario</h1>
    <div>
        <p><strong>Nombre de Usuario:</strong> {{ user.dataValues.username }}</p>
        <p><strong>Nombre:</strong> {{ user.dataValues.name }}</p>
        <p><strong>Apellido:</strong> {{ user.dataValues.lastName }}</p>
        <p><strong>Correo Electrónico:</strong> {{ user.dataValues.email }}</p>
        <p><strong>Teléfono:</strong> {{ user.dataValues.phone }}</p>
        <!-- Puedes incluir más detalles del perfil aquí -->
    </div>
    <a href="/logout">Cerrar Sesión</a>
</body>

</html>