<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <!-- Aquí puedes incluir tus estilos CSS -->
</head>

<body>
<div class="container">
   <nav class="sidebar">
            <ul>
                <a href="/users/{{user.dataValues.id}}"><li>Perfil</li></a>
                <a href="/users/{{user.dataValues.id}}/editar"><li>Configuración</li></a>
                <a href="/logout"><li>Cerrar Sesión</li></a>
                <a href="/gestionContenido"><li>Gestión Contenido</li></a>
            </ul>
        </nav>
     <div class="main-content">
    <h1>Perfil de Usuario</h1>
    <div>
        <p><strong>Nombre de Usuario:</strong> {{ user.dataValues.username }}</p>
        <p><strong>Nombre:</strong> {{ user.dataValues.name }}</p>
        <p><strong>Apellido:</strong> {{ user.dataValues.lastName }}</p>
        <p><strong>Correo Electrónico:</strong> {{ user.dataValues.email }}</p>
        <p><strong>Teléfono:</strong> {{ user.dataValues.phone }}</p>
        <!-- Puedes incluir más detalles del perfil aquí -->
    </div>
    </div>
    
</div>
</body>

</html>



<style>

/* Estilos para el contenedor principal */
.container {
    display: flex;
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport height */
}

/* Estilos para el menú lateral */
.sidebar {
    width: 200px; /* Ancho del menú lateral */
    background-color: #017f9e; /* Color de fondo del menú */
    color: #fff; /* Color del texto */
    margin: -10px;
}

.sidebar ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 10px;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul a {
    color: #fff; /* Color del enlace */
    text-decoration: none; /* Quita el subrayado */
}

.sidebar ul li:hover {
    background-color: #4866a7; /* Color de fondo al pasar el ratón sobre el enlace */
}

/* Estilos para el contenido principal */
.main-content {
    flex: 1; /* El contenido principal ocupa todo el espacio restante */
    padding: 20px;
}

</style>
    <script>
        const sidebar = document.getElementById('sidebar');
        const container = document.querySelector('.container');

        sidebar.addEventListener('mouseenter', () => {
            container.classList.add('sidebar-open');
        });

        sidebar.addEventListener('mouseleave', () => {
            container.classList.remove('sidebar-open');
        });
    </script>